@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Bebas Neue", cursive;
}
/* common style */
.highlight {
  color: #fabe4c;
}
.price {
  font-weight: 700;
  font-size: 2em;
  color: #fabe4c;
}
.btn-custome {
  background-color: #a4bc46 !important;
}
.shopping-card {
  width: 20px;
}

/* header style */

#home-header {
  background-color: #fffbf0;
  padding: 2rem 0;
}
.logo-img {
  width: 18em;
}
.hero h1 {
  font-size: 3.8em;
  font-weight: 700;
}

/* main style */

#main-product {
  padding: 50px 0;
}
.woman-jacket h2,
.man-jacket h2 {
  font-size: 3rem;
  font-family: "Bebas Neue", cursive;
  font-weight: 500;
}
.product-img {
  height: 25rem;
  padding: 3rem;
  border-radius: 20px !important;
  background-color: #e4e4e4d7;
  -webkit-border-radius: 20px !important;
  -moz-border-radius: 20px !important;
  -ms-border-radius: 20px !important;
  -o-border-radius: 20px !important;
}

#subscribe {
  background: linear-gradient(rgba(140, 175, 0, 0.733), rgba(0, 0, 0, 0.733)),
    url(../Image/icon/subscribe.png);
  background-size: cover;
}
.form {
  height: 350px;
}
@media (max-width: 900px) {
  .hero h1 {
    font-size: 2.1em;
  }
}
@media (max-width: 766px) {
  .hero h1 {
    font-size: 3.8em;
  }
}
@media (max-width: 500px) {
  .logo-img {
    width: 12em;
  }
  .hero h1 {
    font-size: 2.5em;
  }
  .woman-jacket h2,
  .man-jacket h2 {
    text-align: center;
  }
}
@media (max-width: 350px) {
  .logo-img {
    width: 10em;
  }
  .hero h1 {
    font-size: 2em;
  }
}
